@* @page "/MenuPrincipal" *@
@page "/"

@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>
<div class="card" style="width:1000px">
    <div class="card-header d-flex align-items-center justify-content-center">
        <img src="Images/pngwing.com.png" class="img-logo" />
        <h1>FarmaYah - Menú Principal</h1>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button type="button" onclick="location.href= 'MenuFactura';" style="text-decoration: none">
                    <img src="Images/icons8-factura-50.png" class="icon" />Factura
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" onclick="location.href= 'MenuLaboratorio';" style="text-decoration: none">
                    <img src="Images/icons8-laboratorio-501.png" class="icon" />Laboratorios
                </button>
            </div>
            <div class="col-md-4 text-center mb-4">
                <button class="d-block mx-auto" onclick="location.href= 'MenuEmpleados';" style="text-decoration: none">
                    <img src="Images/icons8-trabajo-permanente-100.png" class="icon" />Empleado
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" onclick="location.href= 'MenuClientes';" style="text-decoration: none">
                    <img src="Images/icons8-presupuesto-100.png" class="icon" />Cliente
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" onclick="location.href= 'MenuProductos';">
                    <img src="Images/icons8-producto-100.png" class="icon" />Producto
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" onclick="location.href= 'MenuSucursal';" style="text-decoration: none">
                    <img src="Images/icons8-oficina-50.png" class="icon" />Sucursales
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    private void NavigateToFacturas()
    {
        NavigationManager.NavigateTo("/RFacturas");
    }
}
