@page "/MenuSucursal"
@inject NavigationManager NavigationManager

<PageTitle>Sucursal</PageTitle>
<div class="card" style="width:1000px">
    <div class="card-header ">
        <div class="col">
            <button @onclick="Back"><i class="bi bi-arrow-left-circle"></i></button>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <img src="Images/pngwing.com.png" class="img-logo" />
            <h1>FarmaYah - Menú Sucursal</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button @onclick="NavigateToConsulta" class="d-block mx-auto">
                    <img src="Images/icons8-oficina-50.png" class="icon" />Sucursales
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    public void Back()
    {
        NavigationManager.NavigateTo("MenuPrincipal");
    }

    public void NavigateToConsulta()
    {
        NavigationManager.NavigateTo("/C_Sucursales");
    }
}
