@page "/MenuProductos"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>
<div class="card" style="width:1420px; height:715px">
    <div class="card-header ">
        <div class="col">
            <button @onclick="Back"><i class="bi bi-arrow-left-circle"></i></button>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <img src="Images/pngwing.com.png" class="img-logo" />
            <h1>FarmaYah - Menú Productos</h1>
       </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button type="button" class="d-block mx-auto" onclick="location.href= 'RProducto';">
                    <img src="Images/Caja_entrado.png" class="icon" />Registrar Producto
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" onclick="location.href= 'c_productos';">
                    <img src="Images/Caja_listado.png" class="icon" />Productos
                </button>
            </div>
        </div>
    </div>
</div>


@code {
    private async Task VolverAtras()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
    public void Back()
    {
        NavigationManager.NavigateTo("/");
    }
}