@page "/MenuProductos"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<div class="card" style="width:1000px">
    <div class="card-header d-flex align-items-center justify-content-center">
        <button @onclick="VolverAtras"><i class="bi bi-arrow-left-circle"></i></button>
        <img src="Images/pngwing.com.png" class="img-logo" />
        <h1>FarmaYah - Productos</h1>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button type="button" @onclick="NavigateToProductos" class="d-block mx-auto">
                    <img src="Images/Caja_entrado.png" class="icon" /> Registro Producto
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" @onclick="NavigateToConsultaProductos">
                    <img src="Images/Caja_listado.png" class="icon" />Consulta Productos
                </button>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" @onclick="NavigateToRegistroMermas">
                    <img src="Images/icons8-frágil-100.png" class="icon" />Registrar Mermas/Aver&iacute;a
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" @onclick="NavigateToConsultaMermas">
                    <img src="Images/icons8-no-deje-caer-100.png" class="icon" />Consulta Mermas/Aver&iacute;a
                </button>
            </div>
        </div>
    </div>

</div>


@code {

    public void VolverAtras()
    {
        NavigationManager.NavigateTo("MenuPrincipal");
    }

    public void NavigateToProductos()
    {
        NavigationManager.NavigateTo("RProducto");
    }

    public void NavigateToConsultaProductos()
    {
        NavigationManager.NavigateTo("c_productos");
    }

    public void NavigateToRegistroMermas()
    {
        NavigationManager.NavigateTo("RMermasYAveria");
    }

    public void NavigateToConsultaMermas()
    {
        NavigationManager.NavigateTo("C_MermasYAveria");
    }
}
