@page "/MenuSeguros"
@inject NavigationManager NavigationManager
<PageTitle>Seguros</PageTitle>
<div class="card" style="width:1000px">
    <div class="card-header d-flex align-items-center justify-content-center">
        <button @onclick="VolverAtras"><i class="bi bi-arrow-left-circle"></i></button>
        <img src="Images/pngwing.com.png" class="img-logo" />
        <h1>FarmaYah - Seguros Medicos</h1>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button type="button" @onclick="NavigateToRegistro" class="d-block mx-auto">
                    <img src="Images/icons8-seguro-médico-100.png" class="icon" /> Registro Seguro
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button class="d-block mx-auto" @onclick="NavigateToConsulta">
                    <img src="Images/icons8-medical-insurance-100.png" class="icon" />Consulta Seguro
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    private void NavigateToRegistro()
    {
        NavigationManager.NavigateTo("/RSMedicos");
    }

    private void NavigateToConsulta()
    {
        NavigationManager.NavigateTo("/CRSMedicos");
    }
    private void VolverAtras()
    {
        NavigationManager.NavigateTo("/MenuPrincipal");
    }

}
