@page "/MenuLaboratorio"
@inject NavigationManager navigationManager

@inject NavigationManager NavigationManager
<PageTitle>Laboratorios</PageTitle>
<div class="card" style="width:1000px">
    <div class="card-header ">
        <div class="col">
            <button @onclick="VolverAtras"><i class="bi bi-arrow-left-circle"></i></button>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <img src="Images/pngwing.com.png" class="img-logo" />
            <h1>FarmaYah - Menú Laboratorio</h1>
        </div>
        
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <button type="button" class="d-block mx-auto" @onclick="NavigateToLaboratorio">
                    <img src="Images/icons8-laboratorio-50.png" class="icon" />Registrar Laboratorio
                </button>
            </div>
            <div class="col-md-4 text-center">
                <button type="button" class="d-block mx-auto" @onclick="NavigateToLaboratorio">
                    <img src="Images/icons8-laboratorio-501.png" class="icon" />Consultar Laboratorios
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private void VolverAtras()
    {
        NavigationManager.NavigateTo("MenuPrincipal");
    }
    public void NavigateToLaboratorio()
    {
        NavigationManager.NavigateTo("RLaboratorio");
    } 
    public void NavigateToConsultaLaboratorio()
    {
        NavigationManager.NavigateTo("CLaboratorios");
    }
}
